*.tsv
*.csv
*.txt
!/spec/fixtures/*.csv
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.bash_history

# rspec failure tracking
.rspec_status



.byebug_history
.env
.irb_history
